@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Student of the Month: @Model.StudentFirstName, @Model.StudentLastName</h3>
    </div>
</div>
