@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11000 W Pleasant Valley Rd.<br />
    Parma, OH 44130<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:S01208193@acad.tri-c.edu">S01208193@acad.tri-c.edu</a><br />
</address>