@model EventStore.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}


@section Scripts {
    <script src="~/Scripts/apps/eventstorescripts.js"></script>
}

<h2>Here's your shopping cart</h2>

<br />
<div id="update-message"></div>

<div>
    <table>
        <tr>
            <th>Event</th>
            <th>Seats Reserved</th>
            <th></th>
        </tr>

        @foreach (var item in Model.CartItems)
        {
            <tr id="record-@item.RecordId">
                <td>@item.EventSelected.EventName</td>
                <td id="item-count-@item.RecordId">@item.Count</td>
                <td><a href="#" data-id="@item.RecordId" class="RemoveLink">Remove</a></td>
            </tr>
        }
    </table>
    <p class="button">
        @Html.ActionLink("Back to Home", "Index", "Home")
    </p>
</div>

