@model IEnumerable<MVCMusicStoreApplication.Models.Album>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div id="albumsingenre">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Title,
                                     "Details/",
                                     new { id = item.AlbumId})
                </li>
            }
        </ul>
    </div>



